main {
    display: flex;
}

nav {
    width: 300px;
    height: 100svh;
    padding: 25px;
    border-right: 1px solid var(--light);
    position: fixed;
}

nav ul {
    list-style: none;
}

.section {
    margin-left: 300px;
    flex: 1;
    padding: 50px 100px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
}