.wrapper, .wrapper-alt {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.wrapper-alt {
    flex-direction: column;
    margin-top: 30px;
}

.features {
    flex: 1;
}

.card {
    flex: 1;
    gap: 30px;
    padding: 30px;
    border: 2px solid var(--light);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    transition: border-color 0.4s;
}

.card:hover {
    border-color: var(--highlight);
}

.card h2 {
    margin-top: 0;
}

.card > img {
    height: auto;
}

.card > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (width < 849px) {
    .features:nth-child(2n) h2 {
        margin-top: 0;
    }
}